__pycache__/

__init__.pyc

.DS_Store
build/
dist/
poseidonml.egg-info/
*.swp

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
