__pycache__/

__init__.pyc
*.pyc

.DS_Store
build/
dist/
poseidonml.egg-info/
*.swo
*.swp
networkml/trained_models/sos/SoSmodel.pkl
networkml/trained_models/sos/checkpoint
networkml/trained_models/onelayer/*.json
networkml/trained_models/randomforest/*.json

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
