[info]
name = NetworkML
groups = pcap

[settings]
ext_types = pcap
process_base = no
process_from_tool = pcap node splitter

[docker]
links = {"Redis":"redis", "RabbitMQ":"rabbit"}
environment = ["POSEIDON_PUBLIC_SESSIONS=1", "RABBIT=True", "REDIS=True"]
command = -p
